<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="display: flex; justify-content: center;">Texto sobre Vila Velha que alaga toda vez que alguém cospe na rua.</h2>
    <img src="../../images/vila_velha.jpeg" alt="Vila velha em seu dia chuvoso." style="object-fit: cover; display: block; margin: auto;">
    <a style="display: flex; justify-content: center; font-size: large;">
        As fortes chuvas podem causar grandes alagamentos em Vila Velha, trazendo transtornos para moradores e comerciantes.<br> Ruas e avenidas ficam cobertas pela água, dificultando a circulação de veículos e pedestres e, em alguns casos, provocando prejuízos materiais.
        <br>
        Os alagamentos também mostram a importância de investir na drenagem urbana, na limpeza de bueiros e na prevenção de enchentes.<br> A população deve ficar atenta aos alertas da Defesa Civil e evitar áreas alagadas durante períodos de chuva intensa.
        <br>
        É fundamental que poder público e comunidade trabalhem juntos para reduzir os impactos das chuvas e tornar Vila Velha uma cidade mais preparada e segura.</a>
    </a>
    <h1>DOWNLOADS</h1>
    <a href="../../download/pedeefe.pdf" download="exemplo_de_pdf" type="application/pdf">link_do_pdf</a>
    <br>
    <a href="../../download/ArquivoDoc.docx" download="exemplo_de_docx" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document">link_do_doc</a>
    <br>
    <a href="../../index.html" style="display: flex; justify-content: center; font-size: large;"><strong><br><br><br><br>Retornar</strong></a>
</body>
</html>